NUXT_PUBLIC_SUPABASE_URL=https://tvgwuvqsbgupgceylarl.supabase.co
NUXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_Fmr6cMrPQ4DiU7mo2rl2Dw_DBbwubxC
NUXT_PUBLIC_ADMIN_EMAIL=ariaaman@outlook.fr

# Site contact form
RESEND_API_KEY=
FELG_API_KEY=
FELG_API_SECRET=
